<h1>Attendance Calculator</h1>

<%= Phoenix.HTML.Form.form_tag "/calculate", method: "post" do %>
  <label>Name:</label>
  <input type="text" name="name"><br>

  <label>Subject:</label>
  <input type="text" name="subject"><br>

  <label>Classes Attended:</label>
  <input type="number" name="attended"><br>

  <label>Total Classes:</label>
  <input type="number" name="total"><br>

  <button type="submit">Calculate</button>
<% end %>
